# Ignore all files in .git/
.git/

# Ignore all files in .idea/
.idea/

# Ignore all files in .venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

picture/
log.txt
LICENSE
*.md
